



/* === ASPECT RATIO === */
.aspect {
    height: 0;
    padding-top: 100%; 
    > :first-child {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &.ratio-80-107 {
        padding-top: 133.84%;
    }
}

/* === ZOOM === */
.zoomBox {
    position: fixed;
    top: 0;
    left:0;
    z-index: 1100;
    width:100vw;
    height:100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
}


/* === SWIPER  === */
.swiper-pagination-bullet-active {
    background: $textColor!important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    color: $textColor
}
.swiperZoom img {
   max-height: 97vh;
}



#imgThumbs .img-fluid {
    &.thumbnail {
        opacity: 0.5;
    }
    &.active {
        opacity: 1;
    }
    @include tablet {
        max-width: 70px;
    }
    @include laptop {
        max-width: 84px;
    }
    @include desktop {
        max-width: 96px;
    }
}
.tagsBox {
    @include tablet {
        bottom: 16%!important;
    }
    @include laptop {
        bottom: 4%!important;
        left: 17%;
    }
}









/* === TITLE & DESCRIPTION === */
#titleAndDescription {
    .fs-6 {
        @include laptop {
            font-size: 1.8rem!important;
        }
    }
    .line-clamp {
        @include textTruncate;
    }
}

/* === SWIPER PILLS === */
#prodList {
    .swiperColorPills {  
        max-width: 85%;
        margin: 0;
        .swiper-wrapper { 
            .colorpicker {
                img {
                    border-radius: 50%;
                    max-width: 2rem;
                }   
                &.active {
                    img {
                        border: 2px solid #000;
                        padding: 2px;
                    }
                }
            }   
        }
    }  
}

/* === FILTERS === */
#filters {
    label { 
        &.pill-rounded {
            width: 2.75rem;
            height: 2.75rem;
        }    
        &.active {
            background-color: #000;
            color: #fff;
        }
    }
    #colorFilter {
        .pill-rounded {
            width: 2.75rem;
            height: 2.75rem;
            @include laptop {
                width: 2.6rem;
                height: 2.6rem;
            }
            &.active {
                border: solid 3px $textColor!important;
            }
            label {
                width: 2.25rem;
                height: 2.25rem;
                @include laptop {
                    width: 2rem;
                    height: 2rem;
                } 
                &[title="BLANCO"] {
                    border: solid 2px $textColor;
                }            
            }
        }
    }
}








