// body.product {
//     main {
//         margin: 0 .5rem;
//     }
// }

#pdp {
    #imgThumbs .img-fluid {
        &.thumbnail {
            opacity: 0.5;
        }
        &.active {
            opacity: 1;
        }
        @include tablet {
            max-width: 62px;
        }
        @include laptop {
            max-width: 84px;
        }
        @include desktop {
            max-width: 96px;
        }
    }
    #productSlider {
        .tagsBox {
            @include tablet {
                bottom: 18%!important;
            }
            @include laptop {
                bottom: 4%!important;
                left: 17%;
            }
        }
    }
    
    #integerPricePart {
        @include tablet {
            margin-right: -5px;
        }
        @include laptop {
            font-size: $font-size-base * 1.5
        }
        @include desktop {
            font-size: $font-size-base * 1.75
        }
    }
    #decimalPricePart {
        @include laptop {
            font-size: $font-size-base * 1.5
        }
        @include desktop {
            font-size: $font-size-base * 1.75
        }
    }
    .title {
        &.fs-085-rem {
            @include laptop {
                font-size: $font-size-base * 1.25;
            }
        }
    }

    #collapseChooseSize {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        @include tablet {
            position: static;
            width: auto;
        }
        #productSize {
            .card-body {
                @include tablet {
                    max-height: 230px;
                }
                @include desktop {
                    max-height: 424px;
                }
                li {
                    &:first-child {
                        @include tablet {
                            padding: 0 .5rem .5rem!important;
                        }
                    }
                }
            }
        }
    }
    #collapseChooseColor {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        @include tablet {
            position: static;
            width: auto;
        }
        &:not(.show) {
            // display: none;
            @include tablet {
                display: block;
            } 
        }
        #productColor {
            .card-body {
                @include tablet {
                    height: auto!important;
                }
                .btn-group {
                    display: block;
                    @include tablet {
                        display: inline-flex;
                    }
                    .colorRow {
                        @include tablet {
                            border-bottom: none!important;
                        }
                    }
                }
                .colorPicker {
                    picture {
                        width: 36px;
                        height: 36px;
                        img {  
                            &.active {  
                                border: 3px solid $textColor;           
                            }
                            &[alt="blanco"] {
                                border: 1px solid #ccc;
                            } 
                        }    
                    }
                }             
            }
            
        }
    }
    #lastSeen {
        .swiper-button-prev,
        .swiper-button-next {
            width: 2.25rem;
            height: 2.25rem;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.32);
        }
        .swiper-button-prev {
            left: -45px;
        }
        .swiper-button-next {
            right: -45px;
        }
        .swiper-button-prev:after, 
        .swiper-button-next:after  {
            font-size: 1.125rem;
            font-weight: bold;
            color: #aa0061;
        }
        .swiper-button-prev.swiper-button-disabled:after, 
        .swiper-button-next.swiper-button-disabled:after  {
            color: #000;
        }  
    }   
    .panelsPdp {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        &.careInstructions {
            -webkit-line-clamp: 1;
        }
        .box-bar {
            span {
                &:first-child {
                    width: 5rem;
                }
                &:last-child {
                    width: 2rem;
                }
            }
            .progress {
                width: 80%;
                background-color: #feefef;
                .progress-bar {
                    background-color: #DF99C0;
                }
            }

        }
        .seeMoreReviews,
        .seeSizeReviews{
            height: 0;
            &.h-reviews {
                height: auto;
                margin-top: 1rem;
            }
        }
    } 
}

/* === ZOOM === */
.zoomBox {
    position: fixed;
    top: 0;
    left:0;
    z-index: 1100;
    width:100vw;
    height:100vh;
    // overflow: auto;
    display: flex;
    justify-content: center;
}

/* === SCROLL === */
::-webkit-scrollbar {
    -webkit-appearance: none !important
}
::-webkit-scrollbar:vertical {
    width: 10px !important
}
::-webkit-scrollbar:horizontal {
    height: 4px !important
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2) !important;
    border-radius: 8px !important;
    border: 2px solid #fff !important
}

::-webkit-scrollbar-track {
    border-radius: 8px !important;
    background-color: #fff !important
}













/* === ASPECT RATIO === */
.aspect {
    height: 0;
    padding-top: 100%; 
    > :first-child {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &.ratio-80-107 {
        padding-top: 133.84%;
    }
}

/* === SWIPER  === */
.swiper-pagination-bullet-active {
    background: $textColor!important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    color: $textColor
}
.swiperZoom img {
    max-height: 97vh;
}










