<div class="col-12">
    <nav class="position-absolute bottom-0 position-lg-static d-flex justify-content-end mb-3 mb-lg-0" aria-label="breadcrumb">
        <ol class="breadcrumb mt-2 my-0">
            <li class="breadcrumb-item"><a href="#" class="fs-085-rem text-decoration-none">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#" class="fs-085-rem text-decoration-none">Mujer</a></li>
            <li class="breadcrumb-item fs-085-rem" aria-current="page">Camisetas</li>
        </ol>      
    </nav>
</div>




