<div class="col-12">
    <p class="fs-6 fw-bold py-3 m-0">Consejos de lavado</p>
</div>  
<div class="col-12">
    <article class="row flex-column">
        <ul class="col list-unstyled fs-085-rem panelsPdp careInstructions">
            <li class="wash mb-3">
                <span class="position-relative d-inline-block vcp vcp-10"></span>
                <span class="ps-3">Lavado normal a 30º C.</span>
            </li>
            <li class="no-bleach mb-3">
                <span class="position-relative d-inline-block vcp vcp-45"></span>
                <span class="ps-3">No usar lejía ni ningún blanqueante</span>
            </li>
            <li class="iron110 mb-3">
                <span class="position-relative d-inline-block vcp vcp-51"></span>
                <span class="ps-3">Planchado máximo 100º C.</span>
            </li>
            <li class="no-wash-dry mb-3">
                <span class="position-relative d-inline-block vcp vcp-60"></span>
                <span class="ps-3">No limpiar en seco</span>
            </li>
            <li class="no-dry-machine">
                <span class="position-relative d-inline-block vcp vcp-76"></span>
                <span class="ps-3">No secar en secadora</span>
            </li>
        </ul>
        <div class="col d-flex justify-content-end pt-2 readMorePdp cPointer">  
            <span class="more fs-085-rem text-decoration-underline venca-color cPointer">ver más</span>
        </div>
    </article>
</div>
