<div class="col-12">
    <p class="fs-6 fw-bold py-3 m-0">Consejos de lavado</p>
</div>  
<div class="col-12">
    <article class="row flex-column">
        <section class="col fs-085-rem panelsPdp careInstructions">
            <div class="wash mb-3">
                <img src="https://m.venca.es/Content/Images/Icons/Product/Care/wash.svg" alt="Lavado normal a 30º C" width="36">
                <span class="ps-4">Lavado normal a 30º C.</span>
            </div>
            <div class="no-bleach mb-3">
                <img src="https://m.venca.es/Content/Images/Icons/Product/Care/no-bleach.svg" alt="No usar lejía ni ningún blanqueante" width="36">
                <span class="ps-4">No usar lejía ni ningún blanqueante</span>
            </div>
            <div class="iron110 mb-3">
                <img src="https://m.venca.es/Content/Images/Icons/Product/Care/iron110.svg" alt="Planchado máximo 100ºC" width="36">
                <span class="ps-4">Planchado máximo 100º C.</span>
            </div>
            <div class="no-wash-dry mb-3">
                <img src="https://m.venca.es/Content/Images/Icons/Product/Care/no-wash-dry.svg" alt="No limpiar en seco" width="36">
                <span class="ps-4">No limpiar en seco</span>
            </div>
            <div class="no-dry-machine">
                <img src="https://m.venca.es/Content/Images/Icons/Product/Care/no-dry-machine.svg" alt="No secar en secadora" width="36">
                <span class="ps-4">No secar en secadora</span>
            </div>
        </section>
        <div class="col d-flex justify-content-end pt-2 readMorePdp cPointer">  
            <span class="more fs-085-rem text-decoration-underline venca-color cPointer">ver más</span>
        </div>
    </article>
</div>