<div id="productColor" class="row">
    <div class="col-12 btn-group flex-wrap">
        <div class="colorRow d-flex align-items-center border-bottom py-1">
            <button type="button" class="btn colorPicker ps-0 pe-2">
                <picture class="d-inline-block rounded-circle">
                    <img src="../static/img/beige.webp" width="36" height="36" alt="" class="rounded-circle">
                </picture>
            </button>         
            <p class="d-flex d-md-none text-capitalize fw-bold mb-0">Beige</p>
        </div>
        <div class="colorRow d-flex align-items-center border-bottom py-1">
            <button type="button" class="btn colorPicker ps-0 pe-2">
                <picture class="d-inline-block rounded-circle">
                    <img src="../static/img/blue.webp" width="36" height="36" alt="" class="rounded-circle active">
                </picture>
            </button>         
            <p class="d-flex d-md-none text-capitalize fw-bold mb-0">Azúl</p>
        </div>
        <div class="colorRow d-flex align-items-center border-bottom py-1">
            <button type="button" class="btn colorPicker ps-0 pe-2">
                <picture class="d-inline-block rounded-circle">
                    <img src="../static/img/black.webp" width="36" height="36" alt="" class="rounded-circle">
                </picture>
            </button>         
            <p class="d-flex d-md-none text-capitalize fw-bold mb-0">Negro</p>
        </div>
        <div class="colorRow d-flex align-items-center border-bottom py-1">
            <button type="button" class="btn colorPicker ps-0 pe-2">
                <picture class="d-inline-block rounded-circle">
                    <img src="../static/img/white.webp" width="36" height="36" alt="blanco" class="rounded-circle">
                </picture>
            </button>         
            <p class="d-flex d-md-none text-capitalize fw-bold mb-0">Blanco</p>
        </div>
        <div class="colorRow d-flex align-items-center border-bottom py-1">
            <button type="button" class="btn colorPicker ps-0 pe-2">
                <picture class="d-inline-block rounded-circle">
                    <img src="../static/img/green.webp" width="36" height="36" alt="" class="rounded-circle">
                </picture>
            </button>         
            <p class="d-flex d-md-none text-capitalize fw-bold mb-0">Verde</p>
        </div>
        <div class="colorRow d-flex align-items-center border-bottom py-1">
            <button type="button" class="btn colorPicker ps-0 pe-2">
                    <img src="../static/img/red.webp" width="36" height="36" alt="" class="rounded-circle">
                </picture>
            </button>         
            <p class="d-flex d-md-none text-capitalize fw-bold mb-0">Rojo</p>
        </div>
        <div class="colorRow d-flex align-items-center border-bottom py-1">
            <button type="button" class="btn colorPicker ps-0 pe-2">
                <picture class="d-inline-block rounded-circle">
                    <img src="../static/img/sky.webp" width="36" height="36" alt="" class="rounded-circle">
                </picture>
            </button>         
            <p class="d-flex d-md-none text-capitalize fw-bold mb-0">Celeste</p>
        </div>                  
    </div>
</div>