<div id="productSize" class="row">
    <div class="col-12">
        <ul class="ps-0">
            <li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1">
				<a tabindex="1" data-id="36 " data-id-for-select="36" class="w-100 d-flex justify-content-between text-decoration-none">
                    <span>36</span>
                    <span class="fs-07-rem available">Sólo queda(n) 1</span>
                </a>
                <span class="price d-none">7,98€</span>                
			</li>

            <li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1 KeepProduct">
                <div class="w-50 d-flex justify-content-between align-items-center disabled">
                    <span data-id="38 " data-id-for-select="38" class="my-0 true">38</span>
                    <span class="available">Agotado</span>
                    <span class="price d-none">7,98€</span>
                </div>
                <div class="pe-2" data-syte-similars="" data-sku="313803" data-size="38">
                    <img class="lazy syteEventLoaded loaded" data-sytesku="313803" src="https://m.venca.es/Content/images/similar_2.svg" alt="Buscar productos similares" width="70" height="23">
                </div>
			</li>
            
            <li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1 KeepProduct">
                <div class="w-50 d-flex justify-content-between align-items-center disabled">
                    <span data-id="40" data-id-for-select="40" class="my-0 true">38</span>
                    <span class="available">Agotado</span>
                    <span class="price d-none">7,98€</span>
                </div>
                <div class="pe-2" data-syte-similars="" data-sku="313803" data-size="40">
                    <img class="lazy syteEventLoaded loaded" data-sytesku="313803" src="https://m.venca.es/Content/images/similar_2.svg" alt="Buscar productos similares" width="70" height="23">
                </div>
			</li>
			<li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1">
				<a tabindex="1" data-id="42" data-id-for-select="42" class="w-100 d-flex justify-content-between text-decoration-none">42</a>
                <span class="price d-none">7,99€</span>                
			</li>
			<li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1">
				<a tabindex="1" data-id="44" data-id-for-select="44" class="w-100 d-flex justify-content-between text-decoration-none">44</a>
                <span class="price d-none">7,99€</span>                
			</li>
			<li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1">
				<a tabindex="1" data-id="46" data-id-for-select="46" class="w-100 d-flex justify-content-between text-decoration-none">46</a>
                <span class="price d-none">9,99€</span>                
			</li>
			<li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1">
				<a tabindex="1" data-id="48" data-id-for-select="48" class="w-100 d-flex justify-content-between text-decoration-none">48</a>
                <span class="price d-none">9,99€</span>                
			</li>
            <li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1">
				<a tabindex="1" data-id="50" data-id-for-select="350" class="w-100 d-flex justify-content-between text-decoration-none">
                    <span>50</span>
                    <span class="fs-07-rem available">Sólo queda(n) 2</span>
                </a>
                <span class="price d-none">7,98€</span>                
			</li>
            <li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1">
				<a tabindex="1" data-id="52" data-id-for-select="52" class="w-100 d-flex justify-content-between text-decoration-none">52</a>
                <span class="price d-none">9,99€</span>                
			</li>
			<li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1">
				<a tabindex="1" data-id="54" data-id-for-select="54" class="w-100 d-flex justify-content-between text-decoration-none">54</a>
                <span class="price d-none">9,99€</span>                
			</li>
            <li class="w-100 d-flex justify-content-between align-items-center border-bottom p-2 my-1 KeepProduct">
                <div class="w-50 d-flex justify-content-between align-items-center disabled">
                    <span data-id="56" data-id-for-select="56" class="my-0 true">56</span>
                    <span class="available">Agotado</span>
                    <span class="price d-none">7,98€</span>
                </div>
                <div class="pe-2" data-syte-similars="" data-sku="313803" data-size="56">
                    <img class="lazy syteEventLoaded loaded" data-sytesku="313803" src="https://m.venca.es/Content/images/similar_2.svg" alt="Buscar productos similares" width="70" height="23">
                </div>
			</li>
        </ul>               
    </div>
</div>