<div class="col-12 d-flex justify-content-between justify-content-lg-start align-items-center">
    <p class="fs-6 fw-bold py-3 m-0">Envíos y devoluciones</p>
</div>           
<div class="col-12 pb-5 mb-4">
    <article class="row flex-column">
        <div class="col fs-085-rem text-justify panelsPdp">
            <p class="text-uppercase mb-1">Pago</p>
            <p class="mb-0">Nos comprometemos a devolver cualquier artículo si se encuentra dañado, perdido o roto en cualquier medida dentro de los primeros 30 días de la compra si estos supuestos quedan demostrados.</p>
            <p>Para ello se requerirán fotos del producto y el embalaje para poder ser estudiado el caso. </p>
            <p class="text-uppercase mb-1">Envío</p>
            <p class="mb-0">Envío rápido 24-48 horas a Península.</p>
            <p class="mb-0">No realizamos envíos a los siguientes destinos: Baleares, Andorra, Canarias, Ceuta y Melilla</p>
            <p>Los gastos de envío son gratuitos.</p>
            <p class="text-uppercase mb-1">Devoluciones</p>
            <p class="mb-0">Condiciones de cambios y/o devoluciones. El plazo para ejercer el Derecho de desistimiento es de 14 días naturales desde la recepción del producto.</p>
            <p>El cliente deberá hacerse cargo de la devolución del producto.</p>
            <p class="text-uppercase mb-1">Excepciones</p>
            <p class="mb-0">Cuando no se puede ejercer el derecho a desistimiento: "El suministro de bienes precintados que no sean aptos para ser devueltos por razones de protección de la salud o de higiene y que hayan sido desprecintados tras la entrega".</p>
            <p>No se admitirá la devolución de colchones desenrollados o abiertos, por el motivo expresado anteriormente.</p>
        </div> 
        <div class="col d-flex justify-content-end pt-2 readMorePdp cPointer">  
            <span class="more fs-085-rem text-decoration-underline venca-color">ver más</span>
        </div>
    </article>
</div>


