<div class="col-12 d-flex justify-content-between justify-content-lg-start align-items-center">
    <p class="fs-6 fw-bold py-3 m-0">Descripción</p>
    <span class="opacity-75 fs-075-rem pt-1 ps-0 ps-lg-3">Ref. <span id="reference">123456678</span></span>
</div>           
<div class="col-12">
    <article class="row flex-column">
        <div class="col fs-085-rem text-justify panelsPdp">
            <p>Una camiseta de tirantes que cumplirá todas tus expectativas, puesto que la podrás lucir sola, o bien combinada con otras prendas a modo de top interior. Camaleónica camiseta de estampado de estilo bohemio. Gracias a su corte suelto y estilo favorecedor, con este vestido ibicenco estarás siempre cómoda.Fabricado en polyester, este vestido ligero</p>
        </div> 
        <div class="col d-flex justify-content-end pt-2 readMorePdp cPointer">  
            <span class="more fs-085-rem text-decoration-underline venca-color">ver más</span>
        </div>
    </article>
</div>