<div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header border-0">
            <p class="modal-title text-uppercase fs-5 fw-light" id="modalChooseColorLabel">Selecciona Color</p>
            <button type="button" class="btn-close opacity-75" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{> _ChooseColor }}
        </div>
    </div>
</div>