<div class="col-12 col-md-7 col-lg-8">
    <section id="productSlider" class="row position-relative">
        
        <!-- Carousel Mobile -->
        <div id="carouselSlider" class="col d-md-none">
            <div class="swiper swiperProduct " style="z-index:0;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>               
                </div>
            </div>       
            <!-- Pagination Bullets -->
            <div class="position-relative" style="top:25px;">
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <!-- Desktop Main Images -->
        <div id="galleryImages" class="col d-none d-md-block mb-3 mt-md-2">
            <div class="row flex-md-column flex-lg-row">
                <!-- Thumbs -->
                <div id="imgThumbs" class="col-md-12 col-lg-2 d-flex justify-content-between flex-lg-column order-md-2 order-lg-0 mt-md-2 mt-lg-0">                 
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_xs.webp' class='thumbnail img-fluid active' />
                    </picture>                 
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_xs.webp' class='thumbnail img-fluid' />
                    </picture>     
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_xs.webp' class='thumbnail img-fluid' />
                    </picture>
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_xs.webp' class='thumbnail img-fluid' />
                    </picture>
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_xs.webp' class='thumbnail img-fluid' />
                    </picture>
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_xs.webp' class='thumbnail img-fluid' />
                    </picture>                
                </div>
                <!-- Main -->
                <div id="mainImage" class="col-md-12 col-lg-10">
                    <a class="d-block" data-bs-toggle="modal" data-bs-target="#zoomImg">
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_l.webp' width='591' height='791' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                    </a>
                    <!-- Modal Zoom -->
                    <div class="modal fade" id="zoomImg" tabindex="-1" aria-labelledby="zoomImgLabel" aria-hidden="true" style="z-index:1095">
                        <div class="modal-dialog modal-fullscreen">                          
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="btn-close opacity-100 position-absolute end-0 fs-4 mx-4" data-bs-dismiss="modal" aria-label="Close" style="z-index:1100"></button>                                   
                                    <div class="item">
                                        <div class="swiper swiperZoom">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>               
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>  
                                    </div>                                                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
  
        <!-- Wishlist Icon-->
        <div id='addToWishListS_1' class="wishlist">
            <div class='notWished position-absolute top-0 end-0 z-index pe-md-1 mt-2 mt-md-3 me-3'>
                <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path fill-rule='evenodd' clip-rule='evenodd'
                            d='M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z'
                            fill='white' />
                    <path fill-rule='evenodd' clip-rule='evenodd'
                            d='M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z'
                            fill='#3C3C3B' />
                </svg>
            </div>
            <div class='wished position-absolute top-0 end-0 z-index pe-md-1 mt-2 mt-md-3 me-3 d-none'>
                <svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
                    <path fill-rule='evenodd' clip-rule='evenodd'
                            d='M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z'
                            fill='#3c3c3b' />
                    <path fill-rule='evenodd' clip-rule='evenodd'
                            d='M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z'
                            fill='#3C3C3B' />
                </svg>
            </div>
        </div>

        <!-- Label Image -->
        <div class='position-absolute top-0 m-2 z-index d-none'>
            <picture>
                <source media='(min-width: 992px)' srcset='https://statics.venca.com/web/img/labels/PinkPrice_Label.png'>
                <source media='(min-width: 768px)' srcset='https://statics.venca.com/web/img/labels/PinkPrice_Label.png'>
                <img src='https://statics.venca.com/web/img/labels/PinkPrice_Label.png' class='img-fluid' width='60' height='60'>
            </picture>
        </div>

        <!-- Tags Box -->
        <div class='tagsBox position-absolute bottom-0 z-index d-flex align-items-center text-uppercase py-1 mb-2'>
            <div class='soldOutTag bg-white px-1 d-none'>
                <span class='fs-085-rem lh-base fw-bold text-danger'>Agotado</span>
            </div>
            <div class='discountTag bg-danger px-1'>
                <span class='fs-085-rem lh-base fw-bold text-white'>25%</span>
            </div>
            <div class='newTag bg-white px-1 d-none'>
                <span class='fs-085-rem lh-base fw-bold'>New</span>
            </div>
            <div class='superPriceTag bg-white px-1'>
                <span class='fs-085-rem lh-base fw-bold'>Superprecio</span>
            </div>
        </div>

    </section>
</div>

<!-- ASIDE -->
<div class="col-12 col-md-5 col-lg-4">
    
    <!-- BREADCRUMBS -->
    <section id="breadcrumbs" class="row mb-3">
        {{> _Breadcrumbs }}
    </section>

    <!-- CHOOSE FEATURES -->
    <section id="chooseFeatures" class="row">
        {{> _ChooseFeatures }}
    </section>
</div>




