<div class="col-12 col-md-7 col-lg-8">
    <section id="productSlider" class="row position-relative">
        
        <!-- Carousel Mobile -->
        <div id="carouselSlider" class="col d-md-none">
            <div class="swiper swiperProduct " style="z-index:0;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_l.jpg'>
                            <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                        </picture>
                    </div>               
                </div>
            </div>       
            <!-- Pagination Bullets -->
            <div class="position-relative" style="top:25px;">
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <!-- Desktop Main Images -->
        <div id="galleryImages" class="col d-none d-md-block mb-3 mt-md-2">
            <div class="row flex-md-column flex-lg-row">
                <!-- Thumbs -->
                <div id="imgThumbs" class="col-md-12 col-lg-2 d-flex justify-content-between flex-lg-column order-md-2 order-lg-0 mt-md-2 mt-lg-0">                 
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_xs.webp' class='thumbnail img-fluid active' />
                    </picture>                 
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_xs.webp' class='thumbnail img-fluid' />
                    </picture>     
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_xs.webp' class='thumbnail img-fluid' />
                    </picture>
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_xs.webp' class='thumbnail img-fluid' />
                    </picture>
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_xs.webp' class='thumbnail img-fluid' />
                    </picture>
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_xs.jpg'>
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_xs.webp' class='thumbnail img-fluid' />
                    </picture>                
                </div>
                <!-- Main -->
                <div id="mainImage" class="col-md-12 col-lg-10">
                    <a class="d-block" data-bs-toggle="modal" data-bs-target="#zoomImg">
                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_l.webp' width='591' height='791' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                    </a>
                    <!-- Modal Zoom -->
                    <div class="modal fade" id="zoomImg" tabindex="-1" aria-labelledby="zoomImgLabel" aria-hidden="true" style="z-index:1095">
                        <div class="modal-dialog modal-fullscreen">                          
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="btn-close opacity-100 position-absolute end-0 fs-4 mx-4" data-bs-dismiss="modal" aria-label="Close" style="z-index:1100"></button>                                   
                                    <div class="item">
                                        <div class="swiper swiperZoom">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_FR_20230214101733_1_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_TL_20230214101733_2_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BK_20230214101733_4_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_LT_20230214101733_3_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_BG_20230214101733_5_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source srcset='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_xl.jpg'>
                                                        <img src='https://statics.venca.com/web/img/products/112004_262073_PV_DF_DT_20230214101733_6_xl.webp' class='d-block img-fluid mx-auto' loading='lazy' title='' alt='' />
                                                    </picture>
                                                </div>               
                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>  
                                    </div>                                                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
  
        <!-- Wishlist Icon-->
        

        <!-- Label Image -->
        <div class='position-absolute top-0 m-2 z-index d-none'>
            <picture>
                <source media='(min-width: 992px)' srcset='https://statics.venca.com/web/img/labels/PinkPrice_Label.png'>
                <source media='(min-width: 768px)' srcset='https://statics.venca.com/web/img/labels/PinkPrice_Label.png'>
                <img src='https://statics.venca.com/web/img/labels/PinkPrice_Label.png' class='img-fluid' width='60' height='60'>
            </picture>
        </div>

        <!-- Tags Box -->
        <div class='tagsBox position-absolute bottom-0 z-index d-flex align-items-center text-uppercase py-1 mb-2'>
            <div class='soldOutTag bg-white px-1 d-none'>
                <span class='fs-085-rem lh-base fw-bold text-danger'>Agotado</span>
            </div>
            <div class='discountTag bg-danger px-1'>
                <span class='fs-085-rem lh-base fw-bold text-white'>25%</span>
            </div>
            <div class='newTag bg-white px-1 d-none'>
                <span class='fs-085-rem lh-base fw-bold'>New</span>
            </div>
            <div class='superPriceTag bg-white px-1'>
                <span class='fs-085-rem lh-base fw-bold'>Superprecio</span>
            </div>
        </div>

    </section>
</div>

<!-- ASIDE -->
<div class="col-12 col-md-5 col-lg-4">
    
    <!-- BREADCRUMBS -->
    <section id="breadcrumbs" class="row mb-3">
        {{> _Breadcrumbs }}
    </section>

    <!-- CHOOSE FEATURES -->
    <section id="chooseFeatures" class="row">
        {{> _ChooseFeatures }}
    </section>
</div>




