<div class="col-12 position-relative mb-4">
    <span class="d-block fs-1125-rem fw-bold pt-3 pb-2 pb-lg-3">Lo último que has visto</span>
    <div class="swiper swiperSuggestion" style="z-index:0;">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <!-- Main Image, Label & Tags -->
                <a href="" class="d-block position-relative">
                    <!-- MAIN IMAGE -->
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/073183_319614_PV_DF_FR_20230807152259_1_xm.jpg'>
                        <img src='https://statics.venca.com/web/img/products/073183_319614_PV_DF_FR_20230807152259_1_xm.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                    </picture>
                    <!-- LABEL IMAGE -->
                    <div class='position-absolute top-0 m-2'>
                        <picture>
                            <source media='(min-width: 992px)' srcset='https://statics.venca.com/web/img/labels/PinkPrice_Label.png' width='60' height='60' />
                            <source media='(min-width: 768px)' srcset='https://statics.venca.com/web/img/labels/PinkPrice_Label.png' width='50' height='50' />
                            <img src='https://statics.venca.com/web/img/labels/PinkPrice_Label.png' class='img-fluid' width='40' height='40' />
                        </picture>
                    </div>
                    <!-- TAGS BOX-->
                    <div class='tagsBox position-absolute bottom-0 d-flex align-items-center text-uppercase pb-2 mb-2'>
                        <div class='soldOutTag bg-white px-1 d-none'>
                            <span class='fs-075-rem fw-bold text-danger'>Agotado</span>
                        </div>
                        <div class='discountTag bg-danger px-1'>
                            <span class='fs-075-rem fw-bold text-white'>25%</span>
                        </div>
                        <div class='newTag bg-white px-1 d-none'>
                            <span class='fs-075-rem fw-bold'>New</span>
                        </div>
                        <div class='superPriceTag bg-white px-1 d-none'>
                            <span class='fs-075-rem fw-bold'>Superprecio</span>
                        </div>
                    </div>
                </a>
                <!-- Product Info -->
                <a href="" class="d-block text-decoration-none">
                    <div class='product-info'>
                        <p class='fs-075-rem text-truncate mt-1 mb-0'>Blusa manga larga con bordado suizo y guipur</p>
                        <div class='price d-flex'>
                            <span class='fs-075-rem fw-light'>Desde</span>
                            <span class='fs-075-rem text-decoration-line-through ps-1'>25,99€</span>
                            <span class='fs-085-rem fw-bold text-danger ps-1'>23,99€</span>
                        </div>
                    </div>
                </a>   
            </div>
            <div class="swiper-slide">
                <a href="" class="d-block position-relative">
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/072903_317572_PV_DF_FR_20230621131244_1_xm.jpg'>
                        <img src='https://statics.venca.com/web/img/products/072903_317572_PV_DF_FR_20230621131244_1_xm.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                    </picture>
                    <!-- TAGS BOX-->
                    <div class='tagsBox position-absolute bottom-0 d-flex align-items-center text-uppercase pb-2 mb-2'>                      
                        <div class='discountTag bg-danger px-1'>
                            <span class='fs-075-rem fw-bold text-white'>15%</span>
                        </div>                      
                        <div class='superPriceTag bg-white px-1'>
                            <span class='fs-075-rem fw-bold'>Superprecio</span>
                        </div>
                    </div>
                </a>
                <!-- Product Info -->
                <a href="" class="d-block text-decoration-none">
                    <div class='product-info'>
                        <p class='fs-075-rem text-truncate mt-1 mb-0'>Blusa manga larga estampado animal print</p>
                        <div class='price d-flex'>
                            <span class='fs-075-rem fw-light'>Desde</span>
                            <span class='fs-075-rem text-decoration-line-through ps-1'>12,99€</span>
                            <span class='fs-085-rem fw-bold text-danger ps-1'>10,99€</span>
                        </div>
                    </div>
                </a>                  
            </div>
            <div class="swiper-slide">
                <a href="" class="d-block position-relative">
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/072903_322263_PV_DF_FR_20230621132353_1_xm.jpg'>
                        <img src='https://statics.venca.com/web/img/products/072903_322263_PV_DF_FR_20230621132353_1_xm.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                    </picture>
                    <!-- TAGS BOX-->
                    <div class='tagsBox position-absolute bottom-0 d-flex align-items-center text-uppercase pb-2 mb-2'>                      
                        <div class='discountTag bg-danger px-1'>
                            <span class='fs-075-rem fw-bold text-white'>10%</span>
                        </div>                      
                        <div class='superPriceTag bg-white px-1'>
                            <span class='fs-075-rem fw-bold'>Superprecio</span>
                        </div>
                    </div>
                </a>
                <!-- Product Info -->
                <a href="" class="d-block text-decoration-none">
                    <div class='product-info'>
                        <p class='fs-075-rem text-truncate mt-1 mb-0'>Blusa manga larga con puño elástico estampado</p>
                        <div class='price d-flex'>
                            <span class='fs-075-rem fw-light'>Desde</span>
                            <span class='fs-075-rem text-decoration-line-through ps-1'>42,99€</span>
                            <span class='fs-085-rem fw-bold text-danger ps-1'>9,99€</span>
                        </div>
                    </div>
                </a>                     
            </div>
            <div class="swiper-slide">
                <a href="" class="d-block position-relative">
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/069140_308620_PV_DF_FR_20221129123323_1_xm.jpg'>
                        <img src='https://statics.venca.com/web/img/products/069140_308620_PV_DF_FR_20221129123323_1_xm.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                    </picture>
                </a>
                <!-- Product Info -->
                <a href="" class="d-block text-decoration-none">
                    <div class='product-info'>
                        <p class='fs-075-rem text-truncate mt-1 mb-0'>Camisa manga regulable estampado cebra</p>
                        <div class='price d-flex'>
                            <span class='fs-075-rem fw-light'>Desde</span>
                            <span class='fs-085-rem fw-bold ps-1'>19,99€</span>
                        </div>
                    </div>
                </a>      
            </div>
            <div class="swiper-slide">
                <a href="" class="d-block position-relative">
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/070518_312813_PV_DF_TL_20230215122647_2_xm.jpg'>
                        <img src='https://statics.venca.com/web/img/products/070518_312813_PV_DF_TL_20230215122647_2_xm.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                    </picture>
                    <!-- TAGS BOX-->
                    <div class='tagsBox position-absolute bottom-0 d-flex align-items-center text-uppercase pb-2 mb-2'>                      
                        <div class='discountTag bg-danger px-1'>
                            <span class='fs-075-rem fw-bold text-white'>65%</span>
                        </div>                                           
                    </div>
                </a>
                <!-- Product Info -->
                <a href="" class="d-block text-decoration-none">
                    <div class='product-info'>
                        <p class='fs-075-rem text-truncate mt-1 mb-0'>Top sin mangas estampado con encaje en escote</p>
                        <div class='price d-flex'>
                            <span class='fs-075-rem fw-light'>Desde</span>
                            <span class='fs-075-rem text-decoration-line-through ps-1'>14,95€</span>
                            <span class='fs-085-rem fw-bold text-danger ps-1'>5,19€</span>
                        </div>
                    </div>
                </a>                  
            </div>
            <div class="swiper-slide">
                <a href="" class="d-block position-relative">
                    <picture>
                        <source srcset='https://statics.venca.com/web/img/products/073022_317552_PV_DF_FR_20230914140059_1_l.webp'>
                        <img src='https://statics.venca.com/web/img/products/073022_317552_PV_DF_FR_20230914140059_1_l.webp' width='320' height='428' class='w-100 img-fluid' loading='lazy' title='' alt='' />
                    </picture>
                </a>
                <!-- Product Info -->
                <a href="" class="d-block text-decoration-none">
                    <div class='product-info'>
                        <p class='fs-075-rem text-truncate mt-1 mb-0'>Camisa manga larga encaje semitransparente</p>
                        <div class='price d-flex'>
                            <span class='fs-075-rem fw-light'>Desde</span>
                            <span class='fs-085-rem fw-bold ps-1'>25,99€</span>
                        </div>
                    </div>
                </a>     
                
            </div>               
        </div>
    </div>
    <div class="swiper-button-next d-none d-xl-flex rounded-circle"></div>
    <div class="swiper-button-prev d-none d-xl-flex rounded-circle"></div>       
</div>
