<div class="modal fade" id="WhatIsThisModal" tabindex="-1" aria-labelledby="WhatIsThisModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="fs-5 text-start text-uppercase fw-light mt-0" id="exampleModalLabel">¿Que es esto</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ahora <span class="fw-bold">Venca es un Marketplace,</span> con vendedores externos que ofrecen sus productos en nuestra web.</p>
                <p><span class="fw-bold">Aquí te indicamos si está vendido por Venca o por otro vendedor</span> de nuestro Marketplace.</p>
            </div>
        </div>
    </div>
</div>